<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Student Portal - Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css') }}">
</head>
<body>
    <canvas id="bg-canvas"></canvas>

    <main class="main">
        <div class="container">
            <section class="login-wrapper">
                <div class="content-split">
                    <div class="split-left">
                        <img src="{{ url_for('static', filename='assets/images/sau-white-logo.png') }}" alt="SAU Logo" class="logo-main">
                        <div class="logo-details">
                            <p class="logo-text">SOUTH ASIAN UNIVERSITY</p>
                            <p class="logo-subtext">A University Established by SAARC Nations</p>
                        </div>
                    </div>

                    <div class="split-right">
                        <div class="heading">
                            <h1 class="text text-large">Student Access Portal</h1>
                            <p class="text-normal">
                                Admin User? <a href="{{ url_for('admin_login') }}" class="text-links">Access here.</a><br>
                                Faculty User? <a href="{{ url_for('faculty_login') }}" class="text-links">Access here.</a>
                            </p>
                        </div>

                        <form name="studentSignin" class="form" method="POST">
                            <div class="input-control">
                                <label for="enrollmentId" class="input-label" hidden>Enrollment ID</label>
                                <input type="text" name="enrollmentId" id="enrollmentId" class="input-field" placeholder="Roll No (e.g., CS 2023-001) or ID" required>
                            </div>
                            
                            <div class="input-control">
                                <label for="password" class="input-label" hidden>Password</label>
                                <input type="password" name="password" id="password" class="input-field" placeholder="Enter Password" required>
                            </div>
                            
                            <div class="input-control">
                                <button type="submit" class="submit-btn">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    </body>
</html>